*{
    margin: 0;
    padding: 0;
}

body{
    /* border: 1px solid red; */
}
.container {
    font-family:sans-serif;    
    flex-direction: column;
    display: flex;
    grid-gap:20px;     
    
  }

.header{    
    position: relative;
    order: 1;

}

.sidebar{   
    flex-wrap: wrap;
    display: flex;    
    order: 2;
    
    width: 130%;
    margin-left: -55px;
}

.main{
    display: flex;
    position: relative;
    margin-left: -25px;
    order: 3;
}

.countpost{
    display: flex;
    flex-direction: column;
}

.post{
    width: 221px;
    height: 47px;
    margin-bottom: 30px;   
    margin-left: -10px;
    width: 180px;
   
}

.info{    
    margin-left: -20px;
    /* font-size: 50px; */
}


.footer{
    margin-top: -30px;
    display: flex;
    position: relative;
    order: 4;
}

.submit {
    width: 60%;
    height: 75%;
    padding: 5px 0;
    border-radius: 10px;
    background-color: #f2994a;
    color: #fff;
    font-weight: 600;
    font-size: 21px;
}

